<div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
        <h1>无影有记</h1>
        <p>你终于来啦</p>
        <p><a class="btn btn-primary btn-lg" href="/posts" role="button">进来坐坐吧</a></p>
    </div>
</div>

