<div class="col-md-7">
    <div class="jumbotron bg-dark text-white">
        <h1>Rushan Blog</h1>
        <br>
        <p>终于等到你😉</p>
        <p>我准备了一些文章，希望对你有用🎈</p>
        <hr class="my-4">
        <a class="btn btn-outline-warning btn-lg" href="/posts" role="button">发 现</a>
    </div>
</div>