<div id="app" class="col-md-6">
    <div class="list-group" v-for="item in postsList">
      <a v-bind:href="item.url" class="list-group-item list-group-item-action flex-column align-items-start py-3 list-side-gold">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">{{ item.title }}</h6>
        </div>
      </a>
    </div>
</div>

<script>
  const smile = Smile({
    // data:{
    //   postsList: []
    // },
    // methods: {
    //   getPosts () {
    //     axios.get('/api/v1/posts')
    //       .then(function(response) {
    //         return response.data;
    //       })
    //       .then(function (data) {
    //         vm.postsList = data.postsList;
    //         vm.postsList.forEach((element) => element.url = '/posts/show?id=' + element._id);
    //       })
    //       .catch(function (err) {
    //         alert(err.response.data.error);
    //       })
    //   }
    // }
  });
  
  smile.getPosts();
  console.log(smile.postsList.length); //array(0)
</script>
