<div class="col-md-8">      
  <% if(currentUser && post.authorId != null && currentUser._id.toString() === post.authorId.toString() ) {%>
  <!-- Split button -->
    <div class="btn-group pull-right">
      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        操作
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/posts/edit?id=<%= post._id %>">编辑</a>   
      </div>
    </div>
  <% } %>
  <div class="container mb-5">
    <h2><%= post.title %></h2>  
    <div class="chinese-article"><%- post.mkContent %></div>
  </div>
</div>
